<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
</welcome-file-list>
<!-- ADD SERVLET -->
<!-- <servlet>
	<servlet-name>addServlet</servlet-name>
	<servlet-class>com.registrar.AddServlet</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>addServlet</servlet-name>
	<url-pattern>/addNumbers</url-pattern>
</servlet-mapping>

AVERAGE SERVLET
<servlet>
	<servlet-name>averageServlet</servlet-name>
	<servlet-class>com.registrar.Average</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>averageServlet</servlet-name>
	<url-pattern>/average</url-pattern>
</servlet-mapping> -->
  
</web-app>